*{
    margin: 0;padding: 0;
    outline: none;
}
body{
    background-color: #2E629C;
    font-family: times New Roman,arial,helvetica,sans-serif;
}
li,ol{
        list-style: none;
}
.clear{
    clear: both;
    height:2px;
    background: #fff;
}
#wrapper{
    width: 750px;
    padding: 0px 15px;
    background: url(../images/wrap-out.png) repeat-y #5FBA03;
    margin:0 auto;    
}

.header{
    width: 750px;
    height: 285px;
    background-color: #ffffff;
}
.top{
    height: 90px;
    position: relative;
    background: url(../images/bg-top-right.jpg) no-repeat top right;
}
.top h2{
    font-family: times New Roman,arial,helvetica,sans-serif;
    font-size: 36px;
    left: 0px;
    position: absolute;
    top:20px;    
    color: #000000;
}

 a.title{        
     text-decoration: none; 
     display: block;
     width: 400px;
     height: 100px;
     background: url(../images/logo.png) no-repeat top left;
     text-indent: -99999px;    
 }

 a.title span.s1{
     color: #2e629c;
 }
 a.title span.s2{
     color: #000;
 }
.top ul{
    font-family: times New Roman,arial,helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    right: 15px;
    top: 60px;
}
.top li{
    display: inline;
    padding: 5px;
}
.top li a{
    text-decoration: none;
    color: #2E629C;
}
.banner{
    position:relative; 
    width:750px; 
    height:198px;
}
.banner img {
    position:absolute;
    left:0; 
    top:0;
}
img.caption{
    padding-bottom: 8px;
    background: url(../images/bg-images.png) no-repeat bottom left;    
}
.main-body{
    width: 100%;
    }
.sidebar{
    background: url(../images/menu_bg.jpg) repeat-y #5FBA03;
    float: left;
    width: 170px;
    margin:10px 0px;
}
.sidebar h4.top_side{
    font-size: 13px;
    background: #448801;
    padding: 5px;
    color: #fff;
}
.sidebar ul li{
    padding: 3px 10px;
    
}
.sidebar ul li a{
    display: block;
    color: #000;
    background: url(../images/arrow1.gif) no-repeat;
    background-position: 0px 6px;
    padding-left: 20px; 
    text-decoration: none;   
    font-size: 14px;
    font-weight: bold;
}
.content{
    float: left;
    width: 580px;
    background: #fff;
    min-height: 700px;
}
.post{
    width: 570px;
    float: left;
    margin-top: 10px;
    padding: 5px;
}
img.thumbnail{
    width: 120px;
    height: 120px;
    float: left;
    padding: 5px;
    border: 1px solid #c0c0c0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 8px 10px 0px 5px;    
}
.post h3, .post h3 a{
    font-family: times New Roman,arial,helvetica,sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 5px 10px;
    color:#1a326d;
    text-decoration: none;
}
.post h3 a:hover{
    border-bottom: 1px dashed #1a326d;
}
.post p{
    font-family: times New Roman,arial,helvetica,sans-serif;
    font-size: 16px;
    margin: 5px 10px;
}
p.infor_post{
    font-size: 13px;
}
p.infor_post span{
    font-size: 13px;
    font-style: italic;
    text-decoration: none;
    margin-right: 4px;        
}
p.infor_post a {
    margin: 4px;    
    text-decoration: none;
    color: blue;
}
p.infor_post a:hover{
    text-decoration: underline;
}
p.infor_post a span{
    margin-right: 0px;
}
.post a.link{
    margin-left: 430px;
    text-decoration: none;
    color:#1a326d;
    display: block;
    height: 30px;
    padding-left: 35px;
    background: url(../images/readmore.png) no-repeat top left;
}
.post a.link:hover{
    background: url(../images/readmore-hover.png) no-repeat top left;
    color:orange;
}
ul.paging{
    text-align: center;
    height: 30px;
    clear: both;
    background: #fff;
}
ul.paging li{
    display: inline;
    padding: 5px;
}
ul.paging a{
    text-decoration: none;
    color:#2E629C;
}
ul.paging a:hover{
    color:#2E629C;
    text-decoration: underline;
}
ul.paging li.current{
    color: red;
}
.footer{
    background: #5FBA03;
}
.menu-footer{
    height:30px;
    width: 750px; 
    margin-top:5px; 
    text-align: center;
    color: #2e629c;
    font-size: 16px;
}
.menu-footer a{        
    padding: 0px 10px;
    text-decoration: none;
    text-transform: capitalize;
    color: #2e629c;
    font-size: 14px;    
}
