*{
    margin: 0;
    padding: 0;    
}
.clear{
    clear: both;
}
body{
    color: #666666;
    outline: none;
    font-family: "Times New Roman",tahoma,helvetica,sans-serif;
    min-height: 1000px;
}
a{
    text-decoration: none;
    color:#0B55C4;
}
img{
    border:none;
}
ol,li{
    list-style: none;
}
select:selected{
    background: blue;
}
.wrap{
    width: 1000px;
    margin:5px auto 30px auto;
    -moz-border-radius:15px 15px 0px 0px;
    -webkit-border-radius:15px 15px 0px 0px;
    border-radius:15px 15px 0px 0px;
    border: 1px solid #EEEEEE;
    padding: 5px;
}
fieldset {
    -moz-border-radius:8px;
    -ktml-border-radius:8px;
    -webkit-border:8px;
    boder-radius:8px;
    padding: 10px;
    margin: 10px 0px;
    font-size:12px; 
    border:1px solid #EEEEEE;        
}
fieldset table{
    background: #F4F4F4;
    padding: 5px;
     -moz-border-radius:8px;
    -ktml-border-radius:8px;
    -webkit-border:8px;
    boder-radius:8px;
}
table.function-index { border:1px solid #EEEEEE; padding: 10px; float:left; margin-right:20px; height: 230px;}
table.function-index td{ width: 100px; height:100px; border:1px solid #EEEEEE; text-align: center;}
table.function-index td:hover{border:1px dotted #1D86BA}

table.infomation-index{ border:1px solid #EEEEEE; padding: 10px; height: 230px; float: left; margin-right:20px ;}
table.infomation-index td{ border:1px solid #EEEEEE; text-align: left; padding: 5px; font-weight: bold;}


/*INDEX.php*/
fieldset#index-php a{    
    color:#666666;
}
fieldset#index-php a:hover{
    color:#0B55C4;
}
/*LOGIN.PHP*/
table#loginFrom{    
    width: 300px;
    height: 170px;
    margin: 30px auto 30px auto;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #C0C0C0;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;    
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
input.fsubmit{
    border: 1px solid #c0c0c0;
    padding: 3px 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
input.fsubmit:hover{
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
input.ftext{
    width: 176px;
    height:22px;
    padding: 2px;
}
input.add-article{
    background: url(../images/icon-32-new.png) no-repeat top left;   
    text-indent: -9999px;
    width:32px;
    height:32px;
    border: none;    
}

input.remove-trash{
    background: url(../images/icon-32-trash.png) no-repeat top left;   
    text-indent: -9999px;
    width:32px;
    height:32px;
    border: none;    
}
input.search:hover,
    input.save-submit:hover,
        input.cancel:hover,
            input.add-article:hover,
                input.remove-trash:hover{
    cursor: pointer;
}
input.search,input.input-search{
    border: none;
    background: #FFF;
    border: 1px solid #CCCCCC;
    margin-left: 10px;
}
input.save-submit{    
    background: url(../images/icon-32-save.png) no-repeat top left;   
    text-indent: -9999px;
    width:32px;
    height:32px;
    border: none;    
}
input.cancel{
    background: url(../images/icon-32-cancel.png) no-repeat top left;
    text-indent: -9999px;
    width:32px;
    height:32px;
    border: none;
}
.tool-bar{
    text-align: center;
}
.tool-bar table td{
    min-width: 60px;
    border:5px 5px 0px 5px solid #F4F4F4;
}
/*STYLE PAGE IMAGE*/
#header-page h1{
    color: #0B55C4;
    font-size:24px;
}
table.edit-php tr,table.categories-php tr{
    background: #FFF;  
    height:25px;  
    text-align: center;    
}

table.edit-php thead tr,table.categories-php thead tr {
    border: 1px solid #FFF;
    background: #F7F7F7;
    height:25px;    
}
h2.phplogo{
    padding-left: 60px;
    height:38px;
    padding-top: 10px;
    color: #1E9EDC;
    font-size: 24px;
}
h2#profile-php{
    background: url(../images/icon-48-user.png) no-repeat top left;    
}
h2#comment-php{
    background: url(../images/comment.png) no-repeat top left;    
}
h2#menu-php{
    background: url(../images/icon-48-menumgr.png) no-repeat top left;    
}
h2#edit-php{
    background: url(../images/icon-48-article.png) no-repeat top left;    
}
h2#post-php{
    background: url(../images/icon-48-article-add.png) no-repeat top left;    
}
h2#categories-php{
    background: url(../images/icon-48-category.png) no-repeat top left;   
}
.fc-post-php td{
    height:25px;
}
.fc-post-php td input.ftext{
    height:16px;
    width: 300px;
}
.fc-post-php td select{
    min-width: 140px;
    padding-left: 10px;
    height:20px;        
}
/*Hong Trang*/
.header{    
    -moz-border-radius:15px 15px 0px 0px;
    -webkit-border-radius:15px 15px 0px 0px;
    border-radius:15px 15px 0px 0px;
	-moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
	width:100%;
	height: 135px;
	position:relative;
	background: url(../images/bg.png) repeat-x;
	
}

.logo{
	width: 100%;
	height:100px;
	background:url(../images/logo.png) no-repeat;
}

ul.menu-right{
	height:30px;
	position:absolute;
	float:right;
	top:102px;
	right:20px;
}

ul.menu-right li{display:inline; height:30px; padding:0 14px;}

ul.menu-right a{
    line-height:35px;
    font-size:14px;
	font-weight:bold;
    color:#fff; 
}

ul.menu-main{
    position:absolute;
    bottom: 5px;   
    background: url(../images/bg-menu.png) repeat-x;
    height:30px;
    width: 100%;
    padding-left: 20px;    
}

ul.menu-main li{
    float:left; 
    position:relative; 
    height:30px; 
    padding: 0px 14px;
}

ul.menu-main a{
    display:block;
    line-height:35px;
    font-size:14px;
	font-weight:bold;
    color: #fff; 
}

ul.menu-main li a:hover{
    color: aqua;
}

ul.menu-main li ul{
    display:none; 
    position:absolute; 
    width:150px; 
    left: -5px;    
    border: 1px solid #2e88b3;
    padding-bottom: 10px;
}

ul.menu-main li:hover ul{display:block;background:#1f9fdd; height:auto; z-index:1;}
ul.menu-main li ul li{ width:100%; background: none;}

.parents{
    position: absolute;
    right: 20px;
    bottom: 5px;
}

/*COMMENT.php*/
span.comment-date{
    color:blue;
}
a.comment-publish{
    display: block;
    width: 16px;
    height: 16px;
    background: url(../images/tick.png) no-repeat top left;
    text-indent: -9999px;
}
a.comment-unpublish{
    display: block;
    width: 16px;
    height: 16px;
    background: url(../images/publish_x.png) no-repeat top left;
    text-indent: -9999px;
}
